@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  width: 100%;
  height: 100%;
  font-family: 'Lato', sans-serif;
  font-weight: 100;
}

body {
  margin: 0;
  font-family: "Kdam Thmor Pro";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#root {
  width: 100%;
  height: 100%;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.TopBorder{
  border-top: 1px solid rgb(212, 212, 212);
}

.card{
  height: 300px;
}